$primary: #45a8d8;
$brown: #714601;
$yellow: #fdf7e7;

@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Karla', sans-serif;
}

.custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.navbar-brand {
  padding: 0;
  margin: 0;
}

.home-input {
  &:focus {
    box-shadow: none;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-center {
  object-position: center;
}

.fade-anim {
  animation: fade 300ms ease;
}

.profile-photo {
  background-color: $yellow;
  color: $brown;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
