$primary: #45a8d8;
$brown: #714601;
$yellow: #fdf7e7;
$gray: #383843;

@import 'bootstrap/scss/bootstrap';

body {
  font-family: 'Karla', sans-serif;
}

textarea {
  resize: none;
}

.custom-navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.list-format {
  list-style-type: none;
}

.home-input {
  &:focus {
    box-shadow: none;
  }
}

.profile-photo {
  background-color: $yellow;
  color: $brown;
}

.custom-label {
  color: $gray;
}

/*========= Helpers =========*/

.cursor-pointer {
  cursor: pointer;
}

.object-fit-cover {
  object-fit: cover;
}

.object-position-center {
  object-position: center;
}

.fade-anim {
  animation: fade 300ms ease;
}

.custom-navlink-border {
  border-color: transparent;
  border-bottom-style: solid;
}

/*========= Styles for react-images-upload =========*/

.fileContainer .chooseFileButton:hover {
  background: #61b5de !important;
  border-color: #58b1dc !important;
}

.fileContainer .uploadPictureContainer {
  width: 100px !important;
  margin: 0 !important;
  padding: 0 !important;
  background: none !important;
}

.fileContainer .deleteImage {
  font-size: 18.5px !important;
  line-height: 1 !important;
  width: 20px !important;
  height: 20px !important;
}

/*========= Styles for react-select =========*/

.react-select__control:focus {
  border-color: #a2d4ec;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(69 168 216 / 25%);
}

/*========= Styles for react-datepicker =========*/

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: $primary;
}

.react-datepicker__close-icon::after {
  background-color: $primary !important;
}

/*========= Keyframes =========*/

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
